[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[alias]
	s = status
	c = commit
	a = add
	b = branch
	co = checkout
	pl = pull
	ps = push
	pushf = push --force-with-lease
